<% if current_user %>
  <div id="user" class="unit">
    <p class="status">
      <a href="/<%= current_user.name %>" target="_blank"><%= current_user.name %></a>
      <small><a class="sign-out" href="/sign-out">Sign out</a></small>
    </p>

    <form method="post" action="/" id="form_create" enctype="multipart/form-data">
      <ul>
        <li>
          <label for="file">File</label>
          <input type="file" name="file" id="file">
        </li>
        <li>
          <label for="path">Path (leave blank for auto)</label>
          <div class="input-with-extra">
            <span>/<%= current_user.name %>/</span>
            <input type="text" name="path" id="path">
          </div>
        </li>
      </ul>

      <button>Put HTML</button>
    </form>
  </div>
<% else %>
  <p class="unit"><a class="sign-in" href="/auth/twitter">Sign in with Twitter</a></p>
<% end %>

<% if @documents.size > 0 %>
  <div class="unit">
    <h2>Latest documents</h2>

    <ul id="documents">
      <% @documents.each do |doc| %>
        <li>
          <a href="<%= doc.path %>" target="_blank">
            <strong><%= doc.title %></strong>
            <em><%= doc.user.try(:name) || doc.user_name %></em>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
