<% if current_user %>
  <div id="user" class="unit">
    <ul class="status">
      <li class="name">
        <%= current_user.name %>
      </li>
      <li class="profile">
        <a href="/<%= current_user.name %>" target="_blank">
          Visit your profile
        </a>
      </li>
      <li class="api-key">
        <details>
          <summary>See your API key</summary>
          <p>
            Put HTML from anywhere! Just send a multipart POST request to <tt>http://www.puthtml.com/</tt> with parameters for <tt>file</tt>, <tt>path</tt> (optional), and <tt>api_key</tt>, which should be set to this:
          </p>
          <p class="key">
            <tt><%= current_user.api_key %></tt>
          </p>
          <%= form_tag '/settings/api-key', method: 'post' do %>
            <p>
              Stuff getting too weird?
              <button class="link">Reset your API key</button>
              and pray for the best.
            </p>
          <% end %>
        </details>
      </li>
      <li class="sign-out">
        <%= form_tag '/sign-out', method: :delete, class: 'sign-out' do %>
          <button>
            Sign out
          </button>
        <% end %>
      </li>
    </p>

    <%= form_for Post.new, html: { multipart: true } do %>
      <ul>
        <li>
          <label for="file">
            File
          </label>
          <input type="file" name="post[file]" id="file">
        </li>
        <li>
          <label for="path">
            Path (leave blank for auto)
          </label>
          <div class="input-with-extra">
            <span>/<%= current_user.name %>/</span>
            <input type="text" name="post[path]" id="path">
          </div>
        </li>
      </ul>

      <button>
        Put HTML
      </button>
    <% end %>
  </div>
<% else %>
  <p class="unit">
    <a class="sign-in" href="/auth/twitter">
      Sign in with Twitter
    </a>
  </p>
<% end %>

<% if @latest_documents.present? %>
  <div class="unit">
    <h2>
      Latest uploads
    </h2>
    <%= render 'posts/list', posts: @latest_documents %>
  </div>
<% end %>

<% if @greatest_documents.present? %>
  <div class="unit">
    <h2>
      Greatest uploads
    </h2>
    <%= render 'posts/list', posts: @greatest_documents %>
  </div>
<% end %>
