<ul id="documents">
  <% posts.each do |post| %>
    <li data-user="<%= post.user.name %>">
      <a class="title" href="<%= post_path post %>" target="_blank">
        <span class="meta">
          <em class="user"><%= post.user.name %></em>
          <% if post.partial_path.present? %>
            <small class="partial-path">
              <%= post.partial_path.split('/').map{ |part| "<span>#{ part }</span>" }.join(' ').html_safe %>
            </small>
          <% end %>
        </span>
        <strong class="title">
          <%= post.title_without_extension %><small class="extension"><%= post.extension %></small>
        </strong>
      </a>

      <aside>
        <% if post.updated_at %>
          <span class="time"><%= post.updated_at.strftime('%b %-e %-l:%M%P') %></span>
        <% end %>
        <% if post.views > 0 %>
          <span class="views"><%= number_with_delimiter post.views %> <%= 'view'.pluralize post.views %></span>
        <% end %>
        <a class="edit" href="/edit-put/<%= post.path_with_user %>"><%= (post.user == current_user) ? 'Edit' : 'Copy' %></a>
        <% if current_user and post.user == current_user %>
          <%= form_tag post_path(post, false), method: :delete, class: 'delete' do %>
            <input type="hidden" name="_method" value="delete">
            <button class="destructive link">Delete</button>
          <% end %>
        <% end %>
      </aside>
    </li>
  <% end %>
</ul>
