<% @title = "Editing #{ copy ? 'a copy of' : '' } #{ File.basename post.path }" %>

<%= form_tag '/', method: 'post', id: 'form_edit' do %>
  <ul>
    <li class="path">
      <label for="path">Path</label>
      <div class="input-with-extra">
        <span>/<%= current_user.name %>/</span>
        <input type="text" name="post[path]" id="path" value="<%= post.path.sub /^#{ current_user.name }\//, '' %>">
      </div>
    </li>
    <li class="contents">
      <label for="contents">Contents</label>
      <textarea name="post[contents]" id="contents"><%= post.contents %></textarea>

      <div id="editor"></div>

    </li>
  </ul>

  <button>Put HTML</button>
<% end %>

<script src="/static/javascripts/ace-src-min/ace.js"></script>
<script>
  (function(){
    var
      textarea = document.getElementById("contents"),
      editor = ace.edit("editor"),
      editorSession = editor.getSession();

    textarea.style.display = "none";

    editor.setTheme("ace/theme/dawn");
    editor.setShowPrintMargin(false);
    editor.setHighlightActiveLine(false);

    editorSession.setMode("ace/mode/<%= post.mode %>");
    editorSession.setUseWorker(false);
    editorSession.setValue(textarea.value);
    editorSession.on('change', function(){
      textarea.value = editorSession.getValue();
    });
  })();
</script>
